@use '../abstracts/variables';

@mixin buttonHover {
    background-color: variables.$hover-color;
    color: variables.$dark-color;
    cursor: pointer;
}

@mixin subNavDisplay($isHover: false) {
    @if($isHover) {
        .navigation__subnav {
            display: block;
            position: absolute;
            top: 41.25px;
            box-shadow:  4px 4px 10px rgb(0 0 0 / 10%), 0 4px 20px 10px rgb(0 0 5 / 4%);
            left: 0;
            min-width: 160px;
            background-color: variables.$base-color;
        }
    }
}

@mixin cursorHover {
    cursor: pointer;
}

@mixin middlePage {
    max-width: 800px;
    margin: 0 auto;
    padding: 64px 16px;
}

@mixin titleAndQuote {
    text-align: center;
}

@mixin title {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

@mixin quote {
    font-style: italic;
    opacity: 0.6;
    margin: 25px 0 15px;
}