$baseFontName: w3Font;
$fontSize_normal: 15px;

// base colors
$success-color: #019160;
$danger-color: #ff4747;
$warning-color: #ffc107;
$info-color: #5bc0de;
$dark-color: #000;
$base-color: #fff;
$hover-color: #ccc;